
<div class="splash-page login-form">

  <h2 class="mb-4 mt-4 headline">Budget Pal</h2>

 <div class="form-actions">
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg btn-block splashBtn" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg text-primary btn-block splashBtn" %>
 </div>
</div>




