
:root {
  --main-color: #3878c2;
  --text-color: #434b54;
  --button-color: #5fb523;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.custom-container {
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
  width: 100%;
  background-color: whitesmoke;
}

.login-form {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1.2rem;
  gap: 2rem;
  border: 2px solid grey;
  border-radius: 3rem;
  box-shadow: 2px 4px 2px 4px #0000003d;
}

.splash-page {
  background: #fff;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin-top: 2rem;
  border: 2px solid grey;
  border-radius: 3rem;
  box-shadow: 2px 4px 2px 4px #0000003d;
}

.splash-page .headline {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 6rem !important;
}

.splash-page .splashBtn {
  border: 2px solid #fff;
  transition: all 400ms ease;
  width: 16rem;
  gap: 2rem;
}

.splashBtn:hover {
  color: #fff !important;
  box-shadow: 2px 3px #434b5431;
  background: var(--button-color);
  transition: all 400ms ease;
}

.actions .btn {
  margin-top: 2rem;
  border: 2px solid #fff;
}

.login-form .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form .myBtn {
  border: none;
  margin-top: 3rem;
  transition: all 300ms ease;
}

.login-form .myBtn:hover {
  border: none;
  background-color: var(--button-color);
  transition: all 300ms ease;
}

.cat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addCategory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  padding: 2rem;
}

.alert {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 3rem;
  z-index: 1;
}

header {
  width: 100vw;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 2.7rem 2.7rem 0 0;
  padding: 1rem 2rem;
  border: 2px solid grey;
}

header h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

header button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 300ms ease;
  padding-bottom: 0.3rem;
}

header button:hover {
  color: #e2dede;
}

.gift-card {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e2dede;
  box-shadow: 2px 1px #e2dede;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
}

.gift-card p {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 4px;
  color: rgb(196, 185, 185);
}

.money {
  font-weight: 700;
  color: var(--text-color);
}

.tform input {
  width: 100vw !important;
}

.category-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

footer a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: var(--white);
  border: 1px solid #fff;
  padding: 1rem 1rem;
  transition: all 300ms ease;
}

footer .action {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5rem;
}

.category-group a {
  text-decoration: none;
  color: rgb(196, 185, 185);
}

footer a:hover {
  border: 2px solid #fff;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: all 300ms ease;
  text-decoration: none;
  color: #fff;
}

.category-card {
  background-color: #fff;
  width: calc(100vw - 20px);
  padding: 1rem;
  display: flex;
  text-decoration: none;
  gap: 2rem;
  border: 2px solid #e2dede;
  border-radius: 2rem;
  transition: all 300ms ease;
}

.category-card:hover {
  border: 2px solid var(--main-color);
  transition: all 300ms ease;
}

.category-card .inner-card {
  width: 100%;
  padding-top: 10px;
  font-weight: 400;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-card .inner-card .inner-card-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 500;
}

.category-card .inner-card h4 {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.category-card img {
  background-position: center;
  border-radius: 50%;
  border: 2px solid rgb(228, 220, 220);
  width: 5rem;
  height: 5rem;
  padding: 0.2rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--button-color);
  border-radius: 0 0 2.7rem 2.7rem;
}
